<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sapzeugnisablage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <sapzeugnisablage.Properties.Settings>
            <setting name="certificateRootFolder" serializeAs="String">
                <value>\\nas03\peter\Downloads\SAP-Zeugnisse</value>
            </setting>
            <setting name="certificateCreateCycle" serializeAs="String">
                <value>533</value>
            </setting>
            <setting name="certificateNumberRangeStart" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="certificateNumberRegExp" serializeAs="String">
                <value>^1\d{6}$</value>
            </setting>
            <setting name="certificateFileNameSeparator" serializeAs="String">
                <value>.</value>
            </setting>
        </sapzeugnisablage.Properties.Settings>
    </userSettings>
</configuration>